.content {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  margin: 3rem;
  background-image: url("../assets/Hintergrund2.svg");
  background-size: cover;
  background-position: top;
  min-height: 90vh;
}
